<div class="footer light text-center py-4 shadow-lg lg-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="text-main fw-bolder" routerLink="home">
          <img src="assets/images/logo-symbol.svg" alt="fresh cart" />
          Fresh Cart
        </a>
        <p class="text-start text-color my-2">
          Best information about the company gies here but now lorem ipsum is
        </p>
        <div class="nav-item align-self-center text-color">
          <a href="" class="text-color" target="_blank">
            <i class="fa-brands px-1 fa-facebook fa-xl"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-twitter fa-xl"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-instagram fa-xl"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-youtube fa-xl"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-linkedin fa-xl"></i
          ></a>
        </div>
      </div>
      <div class="col-md-2 text-start">
        <ul class="text-color cursor-pointer">
          <p class="fw-bold text-dark">About</p>
          <li>About Us</li>
          <li>Find Store</li>
          <li>Categories</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="col-md-2 text-start">
        <ul class="text-color cursor-pointer">
          <p class="fw-bold text-dark">Information</p>
          <li>Help Center</li>
          <li>Money Refund</li>
          <li>Shipping</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div class="col-md-2 text-start">
        <ul class="text-color cursor-pointer">
          <p class="fw-bold text-dark">For users</p>
          <li>Help Center</li>
          <li>My Orders</li>
          <li>Categories</li>
          <li>Settings</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Get App</h6>
        <div class="app">
          <img src="assets/images/google-store.svg" alt="" width="60" />
          <img src="assets/images/app-store.svg" alt="" width="60" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light py-3 sub-nav lg-footer">
  <div class="container d-flex justify-content-between">
    <div class="d-flex text-color">
      <h6>Ecommerce 2024</h6>
    </div>
    <div>
      <h6>
        <a href="https://github.com/Nader-Gamal" target="_blank">Nader Gamal</a>
      </h6>
    </div>
  </div>
</div>

<div class="mob-footer">
  <div class="container">
    <div class="row">
      <div
        class="col-md-3 d-flex flex-column justify-content-evenly text-center py-4"
      >
        <a class="text-main fw-bolder" routerLink="home">
          <img src="assets/images/logo-symbol.svg" alt="fresh cart" />
          Fresh Cart
        </a>

        <div class="nav-item align-self-center text-color mt-3">
          <a href="" class="text-color" target="_blank">
            <i class="fa-brands px-1 fa-facebook fa-1"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-twitter fa-1"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-instagram fa-1"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-youtube fa-1"></i
          ></a>
          <a href="" class="text-color" target="_blank"
            ><i class="fa-brands px-1 fa-linkedin fa-1"></i
          ></a>
          <p class="text-color my-2 footer-text">
            Best information about the company gies here but now lorem ipsum is
          </p>
        </div>
      </div>
      <div class="col-md-2 text-start w-50">
        <ul class="text-color cursor-pointer">
          <p class="fw-bold text-dark">About</p>
          <li>About Us</li>
          <li>Find Store</li>
          <li>Categories</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="col-md-2 text-start w-50">
        <ul class="text-color cursor-pointer">
          <p class="fw-bold text-dark">Information</p>
          <li>Help Center</li>
          <li>Money Refund</li>
          <li>Shipping</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div class="col-md-2 text-start w-50">
        <ul class="text-color cursor-pointer">
          <p class="fw-bold text-dark">For users</p>
          <li>Help Center</li>
          <li>My Orders</li>
          <li>Categories</li>
          <li>Settings</li>
        </ul>
      </div>
      <div class="col-md-2 w-50">
        <h6>Get App</h6>
        <div class="app">
          <img src="assets/images/google-store.svg" alt="" width="60" />
          <img src="assets/images/app-store.svg" alt="" width="60" />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light py-3 sub-nav">
    <div class="container d-flex justify-content-between">
      <div class="d-flex text-color">
        <h6>Ecommerce 2024</h6>
      </div>
      <div>
        <h6>
          <a href="https://github.com/Nader-Gamal" target="_blank"
            >Nader Gamal</a
          >
        </h6>
      </div>
    </div>
  </div>
</div>
