<div class="py-5">
  <div class="container">
    <!-- forget Password -->
    <form class="row justify-content-center" *ngIf="step1">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3 class="py-2"><i class="fa fa-lock fa-3x"></i></h3>
              <h4 class="text-center">Forgot Password?</h4>
              <p class="text-color">You can reset your password here.</p>
              <div class="card-body">
                <form
                  id="register-form"
                  role="form"
                  autocomplete="off"
                  class="form"
                  method="post"
                  [formGroup]="forgetForm"
                  (ngSubmit)="forgetPassword()"
                >
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text"
                        ><i class="fa-solid fa-envelope text-color"></i
                      ></span>
                      <input
                        id="email"
                        name="email"
                        placeholder="Email address"
                        class="form-control"
                        type="email"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <div class="pt-3">
                    <input
                      name="recover-submit"
                      class="btn bg-main text-white btn-lg btn-block fs-6"
                      value="Reset Password"
                      type="submit"
                      type="button"
                      pButton
                      pRipple
                      (click)="forgetPassword()"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-toast></p-toast>
    </form>
    <!-- reset code -->
    <form class="row justify-content-center" *ngIf="step2">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3 class="py-2"><i class="fa-solid fa-unlock fa-3x"></i></h3>
              <h4 class="text-center">ُEnter Reest Code</h4>
              <p class="text-color">check your email to get reset code</p>
              <div class="card-body">
                <form
                  id="register-form"
                  role="form"
                  autocomplete="off"
                  class="form"
                  method="post"
                  [formGroup]="resetCode"
                  (ngSubmit)="submitCode()"
                >
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text"
                        ><i class="fa-solid fa-hashtag text-color"></i
                      ></span>
                      <input
                        id="resetCode"
                        name="resetCode"
                        placeholder="reset code"
                        class="form-control"
                        type="string"
                        formControlName="resetCode"
                      />
                    </div>
                  </div>
                  <div class="pt-3">
                    <input
                      name="recover-submit"
                      class="btn bg-main text-white btn-lg btn-block fs-6"
                      value="Reset Code"
                      type="submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-toast></p-toast>
    </form>
    <!-- create new password -->
    <form class="row justify-content-center" *ngIf="step3">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3 class="py-2"><i class="fa-solid fa-lock-open fa-3x"></i></h3>
              <h4 class="text-center">Reset Password</h4>
              <p class="text-color">Enter a New Password</p>
              <div class="card-body">
                <form
                  id="register-form"
                  role="form"
                  autocomplete="off"
                  class="form"
                  method="post"
                  [formGroup]="newPassword"
                  (ngSubmit)="newpass()"
                >
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text"
                        ><i class="fa-solid fa-key text-color"></i
                      ></span>
                      <input
                        id="resetPassword"
                        name="resetPassword"
                        placeholder="new password"
                        class="form-control"
                        type="password"
                        formControlName="newPassword"
                      />
                    </div>
                  </div>
                  <div class="pt-3">
                    <input
                      name="recover-submit"
                      class="btn bg-main text-white btn-lg btn-block fs-6"
                      value="Submit"
                      type="submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-toast></p-toast>
    </form>

    <div class="changed text-center" *ngIf="step4">
      <div class="icon-cont">
        <i class="fa-solid fa-check fa-10x text-success"></i>
      </div>
      <h4 class="my-4">Password has been changed!</h4>
      <p class="text-color">now you can login with your new password!</p>
    </div>
  </div>
</div>
